
body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
}
h1{
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    background: -webkit-linear-gradient(
        #34e89e,
        #e4e5e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}
.header-body{
    width: 70%;
    margin: 5rem auto;
}
h2{
    font-size: 2.5rem;
}
.heading{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
    cursor: pointer;
}
.app__body{
    /* background-color: aqua; */
    height: 100vh;
    width: 1200px;
    margin:0 auto;
    margin-top: 1rem;
}
.detail__body{
    /* background-color: aqua; */
    height: 100vh;
    width: 900px;
    margin:0 auto;
    margin-top: 1rem;
}
.item__head {
    align-items: center;
    background-color: #34e89e;
    border-radius: 8px;
    box-shadow: 0 0 12px #18191b;
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;
    color: #24243e; 
    font-weight: 600;
}
.item__head > div{
    text-align: center;
    /* border: 3px solid black; */
    margin-right: 5rem;

}
.coin__row{
    align-items: center;
    background-color: #302b63;
    border-radius: 8px;
    box-shadow: 0 0 12px #18191b;
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;
    color: #fff; 
    cursor: pointer;
    transition: all 0.3s linear;
}

.coin__row:hover{
    transform: scale(1.02);
    /* background-color: #333; */
}
.coin__img{
    width: 35px;
    margin: 0 5px;
}
.link__name{
    text-decoration: none;
    color: #fff;
}
.page-link{
    background: content-box;
    color: #fff;
}
.page-number{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.page-item{
    list-style: none;
    font-weight: bold;
}
.page-item:hover{
    color: #34e89e;
}
.page-item.active{
    color: #34e89e;
}



.content{
    background-color: #18191b;
    border-radius: 8px;
    /* box-shadow: 0 0 12px #18191b; */
    color: #fff;  
    margin: 2rem 1rem;
    padding: 0.7rem 1rem; 
}
.title{
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;

}
.name{
    text-transform: capitalize;

}
.rank{
    background-color: blue;
    display: inline-block;
    padding:0.2rem;
    border-radius: 10px;
    font-size: 0.8rem;
}
.title-two{
    display: flex;
    /* justify-content: space-between; */
    gap: 32rem;
}
.row{
    display: grid;
    grid-template-columns: auto auto;
    /* border-bottom: 1px solid #5f5252; */
    align-items: center;
}
.row h4{
    font-size: 1rem;
    
}

.status{
    display: grid;
    grid-template-columns: auto auto;
}
@media screen and (max-width:500px) {
    .app__body{
        width: 100%;
        height: auto;
    }
    .header-body{
        width: 100%;
    }
    h1{
        font-size: 3rem;
    }
    .item__head{
        margin: 0;
    }
    .display-none{
        display: none;
    }
    .detail__body{
        width: 100%;
    }
}
























   
